@using genelTekrar01.Models
@model List<UrunModel>

@{
    var sayac = 0;
    var sayac2 = 0;
    var sayac3 = 0;
}

<div class="col-md-9 alert alert-danger">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="row">

        </div>
        <div class="alert alert-info">
            <h3>Tüm Ürünler - Yeni</h3>
            <hr />
        </div>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                @*col md -3 ekleyecen*@
                @foreach (var urun in Model)
                {
                    sayac++;

                    if (sayac < 5)
                    {
                        <div class="col-md-3">
                            <br />
                            <br />
                            <img src="https://via.placeholder.com/150x150" alt="a">
                            <br />
                            <p>Urun Adı : @urun.UrunAdi</p>
                            <p>Urun Fiyat : @urun.UrunFiyat</p>
                            <p>Kategori : @urun.KategoriAdi</p>
                            <p>Sayac : @sayac</p>
                            <p>
                                <a href="@Url.Action("UrunDetay","Home",new {id=urun.Id })" class="btn btn-success">Urun Detay</a>
                            </p>
                        </div>

                    }

                }
            </div>

            <div class="item">
                @{
                    sayac++;
                }

                @foreach (var urun2 in Model)
                {


                    sayac2++;

                    if (sayac2 > 4 && sayac2 < 9)
                    {
                        <div class="col-md-3">
                            <br />
                            <br />
                            <img src="https://via.placeholder.com/150x150" alt="a">
                            <br />
                            <p>Urun Adı : @urun2.UrunAdi </p>
                            <p>Urun Fiyat : @urun2.UrunFiyat </p>
                            <p>Kategori : @urun2.KategoriAdi </p>
                            <p>Sayac : @sayac2</p>
                            <p>
                                <a href="@Url.Action("UrunDetay","Home",new {id=urun2.Id })" class="btn btn-success">Urun Detay</a>
                            </p>
                        </div>
                    }


                }


            </div>

            <div class="item">
                @{
                    sayac++;
                }

                @foreach (var urun3 in Model)
                {

                    sayac3++;

                    if (sayac3 > 8)
                    {
                        <div class="col-md-3">
                            <br />
                            <br />
                            <img src="https://via.placeholder.com/150x150" alt="a">
                            <br />
                            <p>Urun Adı : @urun3.UrunAdi </p>
                            <p>Urun Fiyat : @urun3.UrunFiyat </p>
                            <p>Kategori : @urun3.KategoriAdi </p>
                            <p>Sayac : @sayac3</p>
                            <p>
                                <a href="@Url.Action("UrunDetay","Home",new {id=urun3.Id })" class="btn btn-success">Urun Detay</a>
                            </p>
                        </div>
                    }


                }


            </div>

        </div>

        @{
            sayac = 0;
        }

        <!-- Left and right controls -->


        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width:20px;">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width:20px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
