@using genelTekrar01.Models
@model Urun

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<h2>Urun Güncelleme Sayfası</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4 alert alert-info">
            <h4>
                <b>Ürün Bilgisi</b>
                @Html.DisplayFor(model => model.UrunAdi)
            </h4>
            <hr />
            <div class="row">

                <div class="col-md-6">

                    <p>
                        <b>@Html.DisplayNameFor(model => model.UrunAdi)</b>
                        :
                        <br />

                        @Html.DisplayFor(model => model.UrunAdi)
                    </p>

                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.UrunAciklama)
                            :
                            <br />
                        </b>

                        @Html.DisplayFor(model => model.UrunAciklama)
                    </p>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.UrunFiyat)
                            :
                            <br />
                        </b>

                        @Html.DisplayFor(model => model.UrunFiyat)

                    </p>
                    <p>
                        <b>
                            @Html.DisplayNameFor(model => model.EklenmeTarihi)
                            :
                            <br />
                        </b>


                        @Html.DisplayFor(model => model.EklenmeTarihi)
                    </p>
                </div>
                    <div class="col-md-6">
                        <p>
                            <b>
                                @Html.DisplayNameFor(model => model.Icerik)
                                :
                                <br />
                            </b>

                            @Html.DisplayFor(model => model.Icerik)
                        </p>

                        <p>
                            <b>
                                @Html.DisplayNameFor(model => model.UrunResim)
                                :
                                <br />
                            </b>


                            @Html.DisplayFor(model => model.UrunResim)
                        </p>
                        <p>
                            <b>
                                @Html.DisplayNameFor(model => model.StoktaMi)
                                :
                                <br />
                            </b>

                            @Html.DisplayFor(model => model.StoktaMi)
                        </p>
                        <p>
                            <b>
                                @Html.DisplayNameFor(model => model.Anasayfa)
                                :
                                <br />
                            </b>

                            @Html.DisplayFor(model => model.Anasayfa)
                        </p>                
                </div>
            </div>
        </div>
        <div class="col-md-8 alert alert-dark">
            <div class="row">
                <div class="col-md-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun Adı</span>
                        </div>
                        @Html.TextBoxFor(model => model.UrunAdi, new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun Fiyatı</span>
                        </div>
                        @Html.TextBoxFor(model => model.UrunFiyat, new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun Resim Adresi</span>
                        </div>
                        @Html.TextBoxFor(model => model.UrunResim, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun İçerik</span>
                        </div>
                        @Html.TextBoxFor(model => model.Icerik, new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <br />
            <div class="row">

                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun Acıklama</span>
                        </div>
                        <div class="col-md-9">
                            @Html.TextAreaFor(model => model.UrunAciklama, new { @class = "form-control" })
                        </div>


                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Anasayfa, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.Anasayfa, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StoktaMi, new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.CheckBoxFor(model => model.StoktaMi, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
            </div>


            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Urun Kategorisi</span>
                        </div>
                        <div>
                            @Html.DropDownList("KategoriId", null, "Kategori Seçiniz . ", new { @class = "form-control " })
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Ürün Güncelle" class="btn btn-success btn-lg" />
                    </div>
                </div>
            </div>

        </div>
    </div>

}


